div.slideItens {
    max-width: 100%;
    display: block;
}

.slide {
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.slideItens {
    position: relative;
    grid-area: 1/1;
}

.slideItens>* {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    border-radius: 5px;
    grid-area: 1/1;
    max-width: 0%;
}

#slideNav {
    display: grid;
    grid-area: 1/1;
    grid-template-columns: 1fr 2fr 1fr;
    /* aqui define quantas colunas tem.*/
    z-index: 1;
    grid-template-rows: auto 1fr;
}

#slideNav button {
    opacity: 1;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    grid-template-rows: auto 1fr;
    border: none;
}

button.slidePrev {
    background: url("images/slider/btnPrev.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: left center;
}

button.slideNext {
    background: url("images/slider/btnNext.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right center;
}

button.slideZoom {
    background: url("images/slider/btnZoom.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.slideItens>.active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
    max-width: 60%;
    margin-top: 30px;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

div.slide {
    text-align: center;
}

.slideThumb {
    display: flex;
    grid-column: 1 / 4;
}

.slideThumb>span {
    flex: 1;
    display: block;
    height: 7px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
}

.slideThumb>span.active::after {
    content: '';
    display: block;
    height: inherit;
    background-image: linear-gradient( #fbb034 0%, #F9CA2B 50%);
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumb 2s linear forwards;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
}

.modalContent {
    margin: auto;
    max-width: 1000px;
    max-height: 1000px;
}

.modalContent,
#caption {
    animation: zoomIn 0.8s;
}

.modalContent img {
    margin: auto;
    width: 100%;
    border-radius: 10px 10px 00px 00px;
}

.modalContent p {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    border-radius: 0px 0px 10px 10px;
}

@keyframes thumb {
    to {
        transform: initial;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media (max-width: 600px) {
    button.slidePrev {
        background-size: 30%;
    }
    button.slideNext {
        background-size: 30%;
    }
    button.slideZoom {
        background-size: 20%;
    }
    .slideItens>.active {
        position: relative;
        opacity: 1;
        pointer-events: initial;
        margin-top: 30px;
        max-width: 80%;
    }
}