        body ul {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
            background-blend-mode: multiply, multiply;
            margin: auto;
            min-height: 100vh;
        }
        
        h1 {
            font-family: 'Antic Slab';
            font-size: 48px;
        }
        
        h3 {
            font-family: 'Antic Slab';
            font-size: 36px;
        }
        
        div.conteudo {
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
        }
        
        div#perfil {
            text-align: center;
            line-height: 20px;
        }
        
        h2.direita {
            margin-left: auto;
        }
        
        h2 {
            font-size: 36px;
            font-family: 'Antic Slab';
            padding: 5px;
            border-radius: 10px 10px 10px 10px;
            width: fit-content;
            background-image: linear-gradient( #fbb034 0%, #F9CA2B 35%);
        }
        
        p {
            font-family: 'Antic Slab';
            margin-left: 20px;
            font-size: 24px;
            line-height: 36px;
        }
        
        a {
            color: black;
            text-decoration: none;
            font-family: 'Antic Slab';
        }
        
        #header a:hover {
            background: rgba(0, 0, 0, 0.05);
        }
        
        #header {
            box-sizing: border-box;
            height: 200px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            background-image: linear-gradient( #fbb034 0%, #F9CA2B 35%);
        }
        
        #menu {
            display: flex;
            list-style: none;
            gap: 0.5rem;
        }
        
        #menu a {
            display: block;
            padding: 0.5rem;
            border-radius: 12px;
        }
        
        #btn-mobile {
            display: none;
        }
        
        img#logoPng {
            width: auto;
            max-height: 220px;
        }
        
        .contato {
            display: flex;
            justify-content: center;
            gap: 25px;
            margin-top: 10px;
        }
        
        div.zoom {
            transition: transform .6s;
            width: 64px;
            height: 64px;
        }
        
        div#whastapp {
            background: url(/images/whatsapp.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        
        div#instagram {
            background: url(/images/instagram.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .zoom:hover {
            transform: scale(1.3);
        }
        
        @media (max-width: 600px) {
            #header {
                height: 150px;
            }
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 20px;
                line-height: 30px;
            }
            #menu {
                display: block;
                position: absolute;
                width: 100%;
                height: 0px;
                top: 150px;
                right: 0px;
                background: #e7e7e7;
                transition: 0.6s;
                z-index: 1000;
                visibility: hidden;
                overflow-y: hidden;
                text-align: center;
                font-size: larger;
            }
            img#logoPng {
                width: auto;
                max-height: 160px;
            }
            #nav.active #menu {
                height: 240px;
                visibility: visible;
                overflow-y: auto;
            }
            #menu a {
                padding: 1rem 0;
                margin: 0 1rem;
                border-bottom: 2px solid rgba(0, 0, 0, 0.05);
            }
            #btn-mobile {
                display: flex;
                padding: 0.5rem 1rem;
                font-size: 20px;
                border: none;
                background: none;
                cursor: pointer;
                gap: 0.5rem;
                align-items: center;
            }
            #hamburger {
                border-top: 2px solid;
                width: 20px;
            }
            #hamburger::after,
            #hamburger::before {
                content: '';
                display: block;
                width: 20px;
                height: 2px;
                background: currentColor;
                margin-top: 5px;
                transition: 0.3s;
                position: relative;
            }
            #nav.active #hamburger {
                border-top-color: transparent;
            }
            #nav.active #hamburger::before {
                transform: rotate(135deg);
            }
            #nav.active #hamburger::after {
                transform: rotate(-135deg);
                top: -7px;
            }
            h2.direita {
                margin-left: auto;
                border-radius: 10px 0px 0px 10px;
            }
            h2 {
                border-radius: 0px 10px 10px 0px;
            }
            h1 {
                font-size: 40px;
            }
            h3 {
                font-size: 24px;
            }
        }